
// Define variable defaults
$body-bg: #ffffff;
$body-color: #000000;

$theme-colors: (
        "primary": #3772FF,
        "danger": #db3a46,
        "secondary": rgba(0,0,0,0.4),
        "info": #17a2b8,
        "warning": #ffc107,
);

:root {
  --blue: #3772ff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #45B26B;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #3772FF;
  --secondary: #6c757d;
  --success: #45B26B;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --swiper-theme-color: #3772FF;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}


@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';
